<html>
    <head>

    </head>
    <body>
        <h1>
            Welcome to <%= title%>
        </h1>
        <div>
            <%for(let i=0;i < nav.length;i++){%>
                <a href=<%=nav[i].link%>><%=nav[i].title%></a>
            <%}%>
        </div>
        <div>
                <h3><%=javascript.title%></h3>
                 <h4><span><%=javascript.author%></span></h4>      
        </div>        
    </body>
</html>